@import 'bootstrap';
@import 'bootstrap/dist/css/bootstrap.min.css';
@import '../css/loginregistration.css';
@import '../css/topsidepage.css';
@import '../css/content.css';
@import '../css/charts.css';

