.label{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.alert-sm {
  background-color: #f8d7da;
  color: #842029;
  border: 1px solid #f5c2c7;
  padding: 2px 6px;
  font-size: 0.8rem;
  border-radius: 4px;
}

.avatar-tiny {
  width: 24px;
  height: 24px;
  border-radius: 12px;
  margin-right: 4px;
  position: relative;
  top: -1px;
}

